$font-main: "Asap", sans-serif;
$font-second: "Josefin Slab", serif;
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  color: white;
  font-family: $font-second;
  font-weight: 500;
}
body {
  background-color: #111;
}

.header {
  font-size: 5.2rem;

  margin: 3rem auto;
  text-align: center;
}

.header-2 {
  font-size: 3.5rem;
  margin: 3rem auto;
  text-align: center;
}
.dog-search {
  margin: 0 auto;
  text-align: center;
}

.dog-image,
#dog-img {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.preview {
  display: flex;
  width: 90vw;
  margin: 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.new-img {
  width: 23vw;
}
